.nav-adjust {
	margin-top: 50px;
}

.fav-button {
	margin-top: 20px;
}

.user-icon {
	font-size: 200px;
}

.delete-button {
	margin-top: 30px;
}

.capitalize {
   text-transform: capitalize;
}

.navbar {
    background-color: #3C5F92;
    text-transform: uppercase;
		font-weight: 300;
}

.navbar a {
    color: #fff !important;
}

.navbar a:hover {
  background-color: #fff !important;
	color: black !important;	
}