<div class="container">

	<div class="row nav-adjust">
		<div class="col-md-offset-2 col-md-3">
			<i class="fa fa-user user-icon" aria-hidden="true"></i>
		</div>
		<div class="col-md-6" data-ng-init="show()">
			<h1>{{author.firstName}} {{author.lastName}}</h1>
			<h4>Publisher</h4>
		</div>
	</div>
	
	<h2 class="col-md-offset-2">Posts</h2>
	
	<div data-ng-init="posts()">
		<div ng-repeat="(key,post) in publishedPosts">
			<div class="row">
				<div class="col-md-offset-2 col-md-3">
					<a href="#!/posts/{{post.id}}"><h4>{{post.title}}</h4></a>
				</div>
			</div>

			<div class="row">
				<div class="col-md-offset-2 col-md-6">
					<p>{{post.summary}}</p>
				</div>
			</div>

			<hr class="col-md-offset-2 col-md-10">
		</div>
	</div>	
			
</div>