<div class="container">
	<div class="row">
		<form class="form-group nav-adjust" ng-submit="create()" novalidate>
			<input type="text" class="form-control" placeholder="Title" ng-required="true" ng-model = "post.title">
			<br>
			<input type="text" class="form-control" placeholder="Summary" ng-required="true" ng-model = "post.summary">
			<br>
			<input type="text" class="form-control" placeholder="Category" ng-required="true" ng-model = "post.category">
			<br>
			<input type="text" g-places-autocomplete class="form-control" placeholder="Location" ng-required="true" ng-model = "post.location">
			<br>
			<input type="datetime-local" class="form-control" placeholder="Start Time" ng-required="true" ng-model = "post.start">
			<br>
			<input type="datetime-local" class="form-control" placeholder="End Time" ng-required="true" ng-model = "post.end">
			<br>
			
			<trix-editor angular-trix ng-model="foo" class="trix-content"></trix-editor>
			<br>
			<input type="submit" class="btn btn-success">
		</form>
	</div>
</div>